<div class="container more-container">
  <h3>{{ site.more_title | default: "Sara? Que Sara?" }}</h3>
  <div class="row clearfix">
    <div class="col-md-12">
      {{ "Pessoas devem vir antes de processos sempre! Apesar de procurar trabalhar sempre com a 
      metodologia ágil Scrum sempre considero ser preciso avaliar se o projeto se adequa a ele. 
      Conhecimento nunca é demais, então sou entusiasta em qualquer assunto. Interesses: Ciências de dados,
      Python e cerveja." | strip | markdownify }}
    </div>
  </div>
</div>
